.root {
  width: 250px;
  height: 250px; }

.wrapper {
  height: 250px;
  width: 250px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 45px; }

.content {
  max-width: 250px;
  max-height: 250px; }

/*# sourceMappingURL=GalleryItem.css.map */
