@import '../variables.scss';

.root
{
  width: $tile-size;
  height: $tile-size;
}

.wrapper {
  height: $tile-size;
  width: $tile-size;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 45px;
}

.content
{
  max-width: $tile-size;
  max-height: $tile-size;
}
