/**
 * React Starter Kit (https://www.reactstarterkit.com/)
 *
 * Copyright © 2014-2016 Kriasoft, LLC. All rights reserved.
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE.txt file in the root directory of this source tree.
 */
@import '../variables.scss';

.root {
  position: relative;
  left: 0;
  right: 0;

  display: block;
  height: $side-menu-item-height;
  line-height: $side-menu-item-height;
  border-bottom: 1px $color-border solid;
  text-decoration: none;
  background-color: $highlight-lighter;
  transition: background-color $animation-swift-out;
  text-align: right;

  &.active,
  &:hover {
    background-color: $highlight-light;
  }

  &.active {
    .overlay {
      left: 0;
    }
  }

  ~ .root {
    margin-top: 1px;
  }

  .icon {
    border: 0;
    display: inline-block;
    vertical-align: middle;
  }

  .overlay {
    background-color: $highlight-color;
    bottom: 0;
    left: -10px;
    position: absolute;
    top: -1px;
    transition: left $animation-swift-out;
    width: 10px;
  }

  .label {
    float: left;
    font-size: $medium-text;
    margin: 0;
    padding: 0;
    pointer-events: none;
  }
}

.expanded {
  padding: 0 $standard-margin-small 0 $standard-margin;
}

.hidden {
  padding: 0 16px 0 5px;

  .overlay {
    left: -10px;
  }

  &.active {
    .overlay {
      left: -5px;
    }
  }
}







