@charset "UTF-8";
/**
 * React Starter Kit (https://www.reactstarterkit.com/)
 *
 * Copyright © 2014-2016 Kriasoft, LLC. All rights reserved.
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE.txt file in the root directory of this source tree.
 */
.root {
  position: relative;
  left: 0;
  right: 0;
  display: block;
  height: 49px;
  line-height: 49px;
  border-bottom: 1px #d0d0d0 solid;
  text-decoration: none;
  background-color: #fff;
  transition: background-color 0.45s cubic-bezier(0.3, 1, 0.4, 1) 0s;
  text-align: right; }
  .root.active, .root:hover {
    background-color: #fef9f5; }
  .root.active .overlay {
    left: 0; }
  .root ~ .root {
    margin-top: 1px; }
  .root .icon {
    border: 0;
    display: inline-block;
    vertical-align: middle; }
  .root .overlay {
    background-color: #f55e00;
    bottom: 0;
    left: -10px;
    position: absolute;
    top: -1px;
    transition: left 0.45s cubic-bezier(0.3, 1, 0.4, 1) 0s;
    width: 10px; }
  .root .label {
    float: left;
    font-size: 19px;
    margin: 0;
    padding: 0;
    pointer-events: none; }

.expanded {
  padding: 0 16px 0 32px; }

.hidden {
  padding: 0 16px 0 5px; }
  .hidden .overlay {
    left: -10px; }
  .hidden.active .overlay {
    left: -5px; }

/*# sourceMappingURL=MenuItem.css.map */
