@import '../variables.scss';

.root
{
  //width: $tile-size;
  //height: $tile-size;

  background-color: $color-box-background;
  border: 1px solid $color-border;
  box-shadow: 5px 5px 15px -4px rgba(0, 0, 0, 0.15);
  float: left;
  transition: box-shadow $animation-swift-out;
}

.root:hover
{
  box-shadow: 10px 10px 15px -4px rgba(0, 0, 0, 0.15);

}
.root ~ .root {
  margin-left: $standard-margin-small;
}
