.root {
  background-color: #fff;
  border: 1px solid #d0d0d0;
  box-shadow: 5px 5px 15px -4px rgba(0, 0, 0, 0.15);
  float: left;
  transition: box-shadow 0.45s cubic-bezier(0.3, 1, 0.4, 1) 0s; }

.root:hover {
  box-shadow: 10px 10px 15px -4px rgba(0, 0, 0, 0.15); }

.root ~ .root {
  margin-left: 16px; }

/*# sourceMappingURL=BoxShadowed.css.map */
