/**
 * React Starter Kit (https://www.reactstarterkit.com/)
 *
 * Copyright © 2014-2016 Kriasoft, LLC. All rights reserved.
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE.txt file in the root directory of this source tree.
 */

@import '../variables.scss';

.root {
  float: left;
  max-width: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 $standard-margin 40px;

}
