@charset "UTF-8";
/**
 * React Starter Kit (https://www.reactstarterkit.com/)
 *
 * Copyright © 2014-2016 Kriasoft, LLC. All rights reserved.
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE.txt file in the root directory of this source tree.
 */
.container {
  margin: 0 auto;
  padding: 16px 32px; }

.root {
  background: #fff;
  border-bottom: solid #d0d0d0 1px;
  height: 76px; }

.brand {
  color: #ff7b29;
  text-decoration: none;
  font-size: 1.75em;
  /* ~28px */ }

.brandTxt {
  margin-left: 10px; }

.nav {
  float: right;
  margin-top: 6px; }

.banner {
  text-align: center; }

.bannerTitle {
  margin: 0;
  padding: 10px;
  font-weight: normal;
  font-size: 4em;
  line-height: 1em; }

.bannerDesc {
  padding: 0;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.25em;
  margin: 0; }

/*# sourceMappingURL=Header.css.map */
