.menu {
  border-right: #d0d0d0 1px solid;
  float: left;
  height: 100%;
  position: relative;
  transition: width 0.45s cubic-bezier(0.3, 1, 0.4, 1) 0s; }

.expand_button {
  bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
  display: block;
  height: 49px;
  line-height: 49px;
  border-top: 1px #d0d0d0 solid;
  text-decoration: none;
  background-color: #fff;
  transition: background-color 0.45s cubic-bezier(0.3, 1, 0.4, 1) 0s;
  text-align: center; }

.menu.expanded {
  width: 250px; }
  .menu.expanded .expand_button:after {
    content: 'Hide Menu'; }

.menu.hidden {
  width: 49px; }
  .menu.hidden .expand_button:after {
    content: '>'; }

.container {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: 100%;
  height: 100%; }

/*# sourceMappingURL=SideMenu.css.map */
