@import '../variables.scss';

.menu {
  border-right: $color-border 1px solid;
  float: left;
  height: 100%;
  position: relative;
  transition: width $animation-swift-out;
}

.expand_button {
  bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
  display: block;
  height: $side-menu-item-height;
  line-height: $side-menu-item-height;
  border-top: 1px $color-border solid;
  text-decoration: none;
  background-color: $highlight-lighter;
  transition: background-color $animation-swift-out;
  text-align: center;
}

.menu.expanded {
  //@include respond-to(medium-screens) {
  //  width: $side-menu-width-hidden;
  //}

  width: $side-menu-width-expanded;
  .expand_button:after {
    content: 'Hide Menu';
  }
}

.menu.hidden {
  width: $side-menu-width-hidden;
  .expand_button:after {
    content: '>';
  }
}


//
//.root.left {
//  left: 0;
//}

.container {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: 100%;
  height: 100%;
}
