@import '../base-variables.scss';

// Colors
// ==========================================================================

$white-base: hsl(255, 255, 255);
$gray-darker: lighten(black, 13.5%); // #222
$gray-dark: lighten(black, 25%); // #404040
$gray: lighten(black, 33.5%); // #555
$gray-light: lighten(black, 46.7%); // #777
$gray-lighter: lighten(black, 93.5%); // #eee

// Layout
// ==========================================================================

$max-content-width: 1570px;

// Media queries breakpoints
// ==========================================================================

$screen-xs-min: 480px; // Extra small screen / phone
$screen-sm-min: 768px; // Small screen / tablet
$screen-md-min: 992px; // Medium screen / desktop
$screen-lg-min: 1200px; // Large screen / wide desktop

// Animations
// ==========================================================================

$animation-swift-out: .45s cubic-bezier(.3, 1, .4, 1) 0s;

$header-height: 76px;

$side-menu-item-height: 49px;
$side-menu-width-expanded: 250px;
$side-menu-width-hidden: $side-menu-item-height;

$color-header-background: #fff;

$color-box-background: #fff;
// BoxShadowed
// ==========================================================================

$tile-size: 250px;
