@charset "UTF-8";
/**
 * React Starter Kit (https://www.reactstarterkit.com/)
 *
 * Copyright © 2014-2016 Kriasoft, LLC. All rights reserved.
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE.txt file in the root directory of this source tree.
 */
.root {
  background: #f5f5f5;
  color: #333; }

.container {
  margin: 0 auto;
  padding: 20px 8px;
  max-width: 1570px;
  text-align: center;
  font-size: 1.5em;
  /* ~24px */ }

.link,
.link:active,
.link:hover,
.link:visited {
  color: #333;
  text-decoration: none; }

.link:hover {
  text-decoration: underline; }

.spacer {
  padding-right: 15px;
  padding-left: 15px; }

/*# sourceMappingURL=Feedback.css.map */
