@charset "UTF-8";
/**
 * React Starter Kit (https://www.reactstarterkit.com/)
 *
 * Copyright © 2014-2016 Kriasoft, LLC. All rights reserved.
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE.txt file in the root directory of this source tree.
 */
.root {
  background: #333;
  color: #fff; }

.container {
  margin: 0 auto;
  padding: 20px 15px;
  max-width: 1570px;
  text-align: center; }

.text {
  color: rgba(255, 255, 255, 0.5); }

.textMuted {
  color: rgba(255, 255, 255, 0.3); }

.spacer {
  color: rgba(255, 255, 255, 0.3); }

.text,
.link {
  padding: 2px 5px;
  font-size: 1em; }

.link,
.link:active,
.link:visited {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none; }

.link:hover {
  color: white; }

/*# sourceMappingURL=Footer.css.map */
