// Typography
// ==========================================================================

$font-family-base: 'HelveticaNeue-Light', 'Segoe UI', sans-serif;
$medium-text: 19px;
$text-color-main: black;

$color-text-main: #7f7f7f;
$color-background-main: #f9f9f9;

$color-brand: #f55e00;


$highlight-color: $color-brand;
$highlight-light: #fef9f5;
$highlight-lighter: #fff;
$color-border: #d0d0d0;


$standard-margin: 32px;
$standard-margin-small: 16px;

$break-small: 320px;
$break-large: 1024px;
$break-iphone6plus: 414px;


@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  } @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  } @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}
