@charset "UTF-8";
/**
 * React Starter Kit (https://www.reactstarterkit.com/)
 *
 * Copyright © 2014-2016 Kriasoft, LLC. All rights reserved.
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE.txt file in the root directory of this source tree.
 */
.container {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: 1570px; }

/*# sourceMappingURL=RegisterPage.css.map */
